.aboutContainer{
    background-color: #222222;
    padding:90px 10%;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
    
    color:white;
}
.aboutContainer h2::after{
    content:"";
    border-bottom:15px solid #FEBC38 ;
    border-right: 15px solid transparent;
    display:inline-block;
    margin-left: 10px;
}
.aboutContainer h2::before{
    content:"";
    border-bottom:15px solid #FEBC38 ;
    border-left: 15px solid transparent;
    display:inline-block;
    margin-right: 10px;
}
.aboutSmallContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:50px;
    
}
.aboutSmallContainer div{
    display: flex;
    flex-direction: column;
    width:49%;
    gap:20px;
}
.aboutSmallContainer div h3{
    color:#FEBC38;
}
.aboutSmallContainer .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    
}
.skills h5{
    padding: 15px 25px;
    border-radius: 10px;
    background-color:#353839;
}
.aboutSmallContainer button{
    padding:10px 15px;
    background-color:#FEBC38;
    color:black;
    font-weight: bold;
    border:none;
    width:30%;
    border-radius: 5px;
    margin-top: 25px;
    transition:0.5s;
    cursor:pointer;
}
.aboutSmallContainer button:hover{
    background-color: #ffaa00;
    transform: translateY(-5px);
}

@media screen and (max-width:900px){
    .aboutSmallContainer div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        gap:20px;
    }
    .aboutSmallContainer{
        width:100%;
        display:flex;
        justify-content: space-between;
        margin-top:50px;
        flex-wrap: wrap;
        gap:50px;
    }
    .aboutSmallContainer div p{
    font-size: 15px;
    text-align: center;
    }
    .aboutSmallContainer button{
        padding:10px 15px;
        background-color:#FEBC38;
        color:black;
        font-weight: bold;
        border:none;
        width:50%;
        border-radius: 5px;
        margin-top: 25px;
        transition:0.5s;
        cursor:pointer;
    }
    .aboutSmallContainer .skills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        width:100%;
        justify-content: center;
        
    }
}